* {
  padding: 0;
}

html {
  height: auto;
  width: auto;
  background-color: black;
}

body {
 height: 200vh;
 width: auto;
 background-color; blue;
}

section {
position: relative;
height: 100vh;
width: auto;
background-color: green;
}

main {
  position: relative;
  height: auto;
  width: auto;
  background-color: white;
  justify-content: center;
  text-align: center;
}

.about {
  position: relative;
  height: auto;
  width: auto;
  background-color: grey;
  justify-content: center;
}

